/* ## Global
--------------------------------------------- */
a{
	color: #2b2767; 
}
a:focus,
a:hover{
	text-decoration: none !important;
}

/* Headers */
h1 {
}

h2 {
  font-size:2.2rem;
  font-weight: 700;
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p{
  color: rgba(0, 0, 0, 0.38);
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
  font-weight: 100;
}


.button {
  display: block;
  min-width: 200px;
  margin: 16px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.22);
  background: #2b2767;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.button:hover{
  opacity: 0.9;
}
/* these are not in use yet */
.btn.btn-primary{
	border-radius: none;
}
.btn-greyblue{
	background-color: rgb(136, 175, 193);
}
.btn-greyblue:hover{
  background-color: rgb(136, 175, 193);
  opacity: 0.9;
}
.btn-warm-purple{
	background-color: rgb(169, 46, 137);
}
.btn-warm-purple:hover{
  background-color: rgb(169, 46, 137);
  opacity: 0.9;
}
.btn-dark-slate-blue{
	background-color: rgb(43, 39, 103);
}
.btn-dark-slate-blue:hover{
  background-color: rgb(43, 39, 103);
  opacity: 0.9;
}
.btn-long{
  min-width: 100%
}


/* ## Main Container
--------------------------------------------- */

.site-inner {
  padding-top: 0px;
} 

.container {
  max-width: 1440px;!important
  max-width: 100%;
  width: 100%;
}

/* ## Main Navigation
--------------------------------------------- */

/* Header */
h1.tk-museo{
	font-family: "museo",serif;
	font-size: 6.5rem;
	color: #2b2767;
	font-weight: 700;
	padding: 0.3em 0;
}
.navpanel .wrapper {
	background: white;
}
.navpanel {
	background: none;
	padding-left: 15px;
}
.logogroup {
	margin-left: 15px;
}

/* Menu */
.main-menu ul{
	border-top: 0.5px solid rgba(136, 175, 193, 0.8);
	border-bottom: 0.5px solid rgba(136, 175, 193, 0.8);
	border-left: 0.5px solid rgba(136, 175, 193, 0.8);
	font-family: 'Noto Sans', sans-serif;
}
.main-menu li{
	min-width: 16%;
}
.main-menu li a{
	display: block;
	padding: 15px 15px;
	border-right: 0.5px solid rgba(136, 175, 193, 0.8);
	color:#2b2767;
	font-size: 0.7em;
	text-align: center;
}
.main-menu li a:hover{
	background-color: rgba(136, 175,193, 0.3);
	text-decoration: none;
}
#stickem {
    background: none;
    z-index: 1;
    position: fixed;
    width: 100%;
    top:0;
}

/* Left Sidebar */
#left-sticky{
	float: right;
	overflow: hidden;
	height: 100%;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}
.logo {
	display: block;
	margin: 0 auto;
	padding: 5% 5%;
	margin-bottom: 33px;	
}
 #left-sticky h2 {
	padding: 8%;
	border-top: 0.5px solid rgba(136, 175, 193, 0.8);
	margin:0;
    color: #2b2767;
    font-family: "museo",serif;
    font-size: 22px;
    font-weight: 100;
    text-align: left;
}

/* Hours */
.hourblock {
    background-color: rgba(136, 175, 193, 0.1);
}
.hour-inner{
	padding: 0 15%;
	color: #2b2767;
	font-family: 'Noto Sans', sans-serif;
	font-size: 0.8em;
}
.hour-inner li{
	margin-bottom: 16px;
}
.dow, .hours{
	padding:0;
}

/* Quick Links */
.quicklinks  {
    text-align: left;
    padding-left: 22px;
    list-style: none;
    font-size: 0.8em;
}
.quicklinks a {
    color:#2b2767;
}
.quicklinks a:hover {
    color: #66619c;
    text-decoration: none;
}
.quicklinks li {
    padding: 4px 0px 8px 35px;
}

/* icons */
.friends {
	background: url('images/ic-people-black-24-px.png') no-repeat center left;
}
.contact {
	background: url('images/ic-email-copy.png') no-repeat center left;
}
.enews {
	background: url('images/ic-view-list-copy.png') no-repeat center left;
}
.directions {
	background: url('images/ic-place-copy.png') no-repeat center left;
}
.facebook {
	background: url('images/fa-facebook-copy.png') no-repeat center left;
}
.twitter {
	background: url('images/fa-twitter-copy.png') no-repeat center left;	
}
address {
	max-width: 212px;
	padding: 8px 16px;
	margin: 12px 0 30px;
    color: #2b2767;	
	font-size: 0.8em;
	text-align: left;
}
.address{
	display:block;
	margin-bottom: 10px;
}
/* Sidebar */   
#genesis-sidebar-secondary {
  z-index: 99999;
}
.wsoffcanvasopener .wsmenu {
  z-index: 999999;
 }

 #genesis-content .sidebar-primary {
  max-width: 308px;
}
#genesis-content .content {
    width: 801px;
    padding: 12px;
}
#genesis-content .content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
 max-width: 1139px;
}

#genesis-sidebar-secondary > section { 
  display: none;
}
#genesis-content .row {
  margin: 0px;
}

/* ## Content CSS
--------------------------------------------- */
.content-sidebar-wrap{
  padding-top: 125px;
}

/* Card Content Grids */
.squaregrid a {
  display:block;
  margin: 2px;
  max-width: 32%;
  padding: 28px;
  border: solid 1px #dddddd;
  color: #2b2767;
  font-size: 1.2em;
  font-family: 'museo', sans-serif;
  font-weight: 600;
}
.squaregrid a .col{
  padding: 0px;
  }
.squaregrid a.col-link:hover {
  color:#ffffff !important;
  background: #88afc1;
}
.squaregrid a:hover p{
  color:#ffffff !important;
}

/* Three Column List */
.threelist .col{
  padding: 20px 20px 20px 0px;
}

/* Form & Inputs */
form{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  border: solid 1px rgba(0, 0, 0, 0.12);
}

/* Resrouce Button & Description */
.resource div{ 
  display: flex;
  align-items: center;
}

.resource div p{ 

  line-height: 1.63;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'museo', sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
}




.eventblock .date {
	background: #eee;
	padding: 15px;
	text-align: center;
	margin: 12px 0px;
  background:pink;
  border: 2px solid yellow;
	
}





.blurbrow a {
	color: white;
    padding: 7px;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
	background-color: #2b2767;
}

/* Childrens Programs */
.dates span {
	    display: inline-block;
    padding: 7px 22px 12px 0px;
}
.time span {
	    display: inline-block;
    padding: 7px 22px 12px 0px;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.agerange {
	position: absolute;
	top:0px;
	right :0px;
}
.wd {
	text-align: center;
	padding: 44px 15px;
	background-color: #eee;
}
.regbtn {
	text-transform: uppercase;
	background: #88afc1;
}
a.regbtn  {
	color: white;
	padding: 5px 32px;
	font-family: NotoSans;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.5px;
	text-align: center;	
}
/*childrens program end*/
/*childrens page styles*/
#genesis-content > h1 {
display: none;
}
.grnups {
	top: 44%;
	left: 28%;
	color: white;
	font-size: 26px;
}
img.margblock {
	margin: 0 auto; 
	display: block;
}
.prgms {
	top: 20%;
	left: 28%;
	font-size: 26px;	
}
.rug {
	margin-top: 44%;
}
.twokids {
	top:22%;
	left:22%;
	width:58%;
}
.tabletboy {
	top: 25%;
	left: 55%;
	width: 25%;
}
.girlone {
	top:46%;
	left:2%;
	width:25%;
}
.kidstablet {
	top: 45%;
	left: 38%;
	width:22%;
	z-index: 999;
	transform: rotate(-11deg);
}
.games {
	max-width: 100%;
	margin: 0 auto;
	padding: 11px 0px;
}
.thoubooks {
	padding: 11px 0px;	
	max-width: 100%;
	margin: 0 auto;
}
.teddyshelf  {
	padding: 11px 0px;
	max-width: 100%;
	margin: 0 auto;
}
.greatread  {
	padding: 11px 0px;
	max-width: 100%;
	margin: 0 auto;
}
.toys  {
	padding: 5px 0px;
	max-width: 65%;
	margin: 0 auto;
	margin-top: 3px;
}
.teddy {
	max-width:26%;
	top: 0;
	right:12%;
}
.todaymsg {
	top:30%;
	left:11%;
	max-width:85%;
}
.easle {
	max-width: 100%;
    margin: 0 auto;
    display: block;
}


/*childrens page styles*/
/*people card*/
.peoplecard span {
	display:block;
}

/*people card end*/
/*image gallery*/
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}
/*image gallery end*/

/*carousel*/
#carouselHome h3 {
	text-align: left;
	font-size: 33px;
}
#carouselHome p {
	text-align: left;
	display: block;
	width: 100%;
	background:;
}
#carouselHome .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 53px;
    left: 3%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
#carouselHome .alert {
	position: absolute;
    z-index: 8;
    bottom: 0px;
    background: #ff000080;
    color: white;
    left: 0px;
    right: 0pc;
}

/* MCcoder */

/*makes the carousel responsive*/
.carousel-item .img-fluid {
  width:100%;
  height:100%;
}






.wcag {
    top: 44px;
    position: fixed;
    right: 15px;
    z-index: 99999999;
}

/*nice colorful buttons in the theme options panel*/
body .wgdebtn {
	color: white;
	padding: 7px;
	width: 100%;
	display:block;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
}
#overlapblackbg {
    left: 0;
    z-index: 999999999;
}
.wsoffcanvasopener .wsmenu {
    z-index: 999999999;
}
#wsnavtoggle {
    z-index: 9999999999;
    position: fixed;
    background: white;
}
.sublogo {
	display:block; 
	margin: 0 auto;
	padding-top:63px;
}
span.subtag {
	font-size:22px;
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #2b2767;
	font-weight: 700;
	padding-bottom: 22px;
	padding-top: 12px;

}

.mediumlogo {
	display: none;
}
#wsnavtoggle {
    display: none;
}

@media (max-width: 1453px) {
	.mediumlogo {
    display: inline-block;
    float: left;
	}
#stickem {
    background: white;
    z-index: 99999999;
    position: fixed;
    width: 100%;
    margin-left: -1%;
}
}
@media (max-width: 1320px) {
	.logogroup {
    display: block;
    margin: 0 auto;
    width: 80%;
	}
	#stickem {
	    margin-left: -10%;
	}	
	.tk-museo {
	font-size: 3.8rem;
    font-weight: 700;
    padding-left: 0px;
    color: #2b2767;
    text-align: center;
    padding: 22px 0px;
	}
}
@media (max-width: 1200px) { 
	.main-menu {
		display: none;
	}
	#wsnavtoggle {
	    display: block
	}
}


@media (max-width: 1090px) { 

		
	#genesis-content {
	    padding-top: 68px;
	}	
}

@media (max-width: 860px) { 

}
@media (max-width: 844px) {

}
@media (max-width: 633px) { 
	#genesis-content {
	    padding-top: 176px;
	}	
}