/* ## Global
--------------------------------------------- */
a{
	color: #2b2767; 
}
a:focus,
a:hover{
	text-decoration: none !important;
}
section{
  margin-top: 8px;
}
/* Headers */

/*Drop down menu also see drop down menu jquery in assets/js/mccoder.js*/
.menu-test {
  position: relative;
}
.sub-menu {
  position: absolute;
  min-width:187px;
  background: white;
  z-index: 999999;
}
.sub-menu {
  display: none;
}
.reveal {
  display: block;
}
ul.shift { 
  position:absolute;
  top: 0%;
  left: 100%;
}
/*Drop down menu end */
/* Color text */
.text-greyblue{
  color: rgb(136, 175, 193);
}
.text-greyblue:hover{
  color: rgb(136, 175, 193);
  opacity: 0.9;
}
.text-warm-purple{
  color: rgb(169, 46, 137);
}
.text-warm-purple:hover{
  color: rgb(169, 46, 137);
  opacity: 0.9;
}
.text-dark-slate-blue{
  color: rgb(43, 39, 103);
}
.text-dark-slate-blue:hover{
  color: rgb(43, 39, 103);
  opacity: 0.9;
}

/* Button color */
.button {
  display: block;
  min-width: 200px;
  margin: 16px;
  padding: 8px 8px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.22);
  background: #2b2767;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.button:hover{
  opacity: 0.9;
}

.btn.btn-primary{
	border-radius: none;
}
.btn-greyblue, .gform_button.button{
	background-color: rgb(136, 175, 193);
}
.btn-greyblue:hover, .gform_button.button:hover{
  background-color: rgb(136, 175, 193);
  opacity: 0.9;
}
.btn-warm-purple{
	background-color: rgb(169, 46, 137);
}
.btn-warm-purple:hover{
  background-color: rgb(169, 46, 137);
  opacity: 0.9;
}
.btn-dark-slate-blue{
	background-color: rgb(43, 39, 103);
  color:#fff;
}
.btn-dark-slate-blue:hover{
  background-color: rgb(43, 39, 103);
  opacity: 0.9;
}
.btn-long{
  min-width: 100%
}


/* ## Main Container
--------------------------------------------- */

.site-inner {
  padding-top: 0px;
} 
.container {
  max-width: 1440px;!important
  max-width: 100%;
  width: 100%;
}


/* ## Main Navigation
--------------------------------------------- */

/* Header */
h1.tk-museo{
	font-family: "museo",serif;
	font-size: 6.5rem;
	color: #2b2767;
	font-weight: 700;
	padding: 0.3em 0;
}
.navpanel .wrapper {
	background: white;
}
.navpanel {
	background: none;
	padding-left: 15px;
}
.logogroup {
	margin-left: 15px;
}
#google_translate_desktop{
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1;
}

/* Menu */
.main-menu ul{
	border-top: 0.5px solid rgba(136, 175, 193, 0.8);
	border-bottom: 0.5px solid rgba(136, 175, 193, 0.8);
	border-left: 0.5px solid rgba(136, 175, 193, 0.8);
	font-family: 'Noto Sans', sans-serif;
}
.main-menu li{
	min-width: 16%;
}
.main-menu li a{
	display: block;
	padding: 15px 15px;
	border-right: 0.5px solid rgba(136, 175, 193, 0.8);
	color:#2b2767;
	font-size: 0.7em;
	text-align: center;
}
.main-menu li a:hover{
	background-color: rgba(136, 175,193, 0.3);
	text-decoration: none;
}
#stickem {
  background: none;
  z-index: 1;
  position: fixed;
  width: 100%;
  top:0;
}

/* Left Sidebar */
#left-sticky{
	float: right;
	overflow: hidden;
	height: 100%;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}
.logo {
	display: block;
	margin: 0 auto;
	padding: 5% 5%;
	margin-bottom: 33px;	
}
 #left-sticky h2 {
	padding: 8%;
	border-top: 0.5px solid rgba(136, 175, 193, 0.8);
	margin:0;
  color: #2b2767;
  font-family: "museo",serif;
  font-size: 22px;
  font-weight: 100;
}

/* Hours */
.hourblock {
  background-color: rgba(136, 175, 193, 0.1);
}
.hour-inner{
	padding: 0 15%;
	color: #2b2767;
	font-family: 'Noto Sans', sans-serif;
	font-size: 0.8em;
}
.hour-inner li{
	margin-bottom: 16px;
}
.dow, .hours{
	padding:0;
}
/* Header off-canvas Menu > Library Hours  */
.current-day-hours-warm-purple{
	color: #a92e89;
}

/* Connect Links */
.connect  {
  text-align: left;
  padding: 0 5%;
  list-style: none;
}
.connect a {
  color:#2b2767;
  display: block;
  height: 30%; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.connect a:hover {
  color: #66619c;
  text-decoration: none;
}
.connect li i{
  padding: 4px 8px 4px 8px;
}
.connect li span{
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  letter-spacing: normal;
}
/* Social */
.social {
 padding: 4px 8px 4px 4px;
}

.sidebar address {
	max-width: 212px;
	padding: 8px 16px;
	margin: 12px 0 30px;
  color: #2b2767;	
	font-size: 0.8em;
	text-align: left;
}
.address{
	display:block;
	margin-bottom: 10px;
}

/* Sidebar Fixed Positiions */   
#genesis-sidebar-secondary {
  z-index: 99999;
}
.wsoffcanvasopener .wsmenu {
  z-index: 999999;
 }
 #genesis-content .sidebar-primary {
  max-width: 308px;
}
#genesis-content .content {
  width: 801px;
  padding: 12px;
}
#genesis-content .content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  max-width: 1139px;
}
#genesis-sidebar-secondary > section { 
  display: none;
}


/* ## Content CSS
--------------------------------------------- */
.content-sidebar-wrap{
  padding-top: 154px;
}

/* Search Bars */
.searchbars {
/*  border: 2px solid blue;*/
}
.searchwrapper {
  position:relative;
}
.imgsubmit {
  position: absolute;
  top:0px;
  right: 0px;
}
body input.imgsubmit {
  padding: 12px;
} 
/* Card Content Grids */
.squaregrid .hold{
  padding: 2px;
}
.squaregrid a {
  display:block;
  border: solid 1px #dddddd;
  padding: 28px;
  margin:1px;
  height:100%;
}
.squaregrid .link .header{
  font-family: 'museo', sans-serif;
  font-weight: 600;
}
.squaregrid a.link .blurb{
  font-family: NotoSans;
  font-weight: 100;
  font-size: 13px;
  line-height: 1.54;
  color: rgba(0, 0, 0, 0.38);
}

.squaregrid a.link:hover {
  color:#ffffff;
  background: #88afc1;
}
.squaregrid a.link:hover .blurb{
  color:#ffffff;
}
.squaregrid{
  font-family: NotoSans;
  font-weight: 100;
  font-size: 13px;
  line-height: 1.54;
}


/* Title & Blurb */
.title{
  margin-bottom: 48px;
}
.title h1{
  font-family: Museo;
  font-size: 2.8em;
  font-weight: bold;
  line-height: 2.0;
  letter-spacing: normal;
  color: #2b2767;
}
.title .excerpt{
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
}
.content{
  color: rgba(0, 0, 0, 0.38);
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  text-align: left;
  font-weight: 100;
}

/* Blurb Sections */
.maintitle{
  font-family: "museo",sans-serif;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 2.0;
  color: #2b2767;
}
.blurb{
  margin-bottom:32px;
}
.blurb-hold a{
  color: #88afc1;
  font-family: "museo-sans",sans-serif;
  font-size:18px;
}
.blurb-hold h1 {
  font-family: "museo-sans",sans-serif;
  font-size: 2.8em;
  font-weight: 700;
  color: #88afc1;
}
.blurb-hold h2 {
  font-family: "museo-sans",sans-serif;
  font-size: 2.4em;
  font-weight: 700;
  color: #88afc1;
}
.blurb-hold h3, 
.contentblocks h3{
  font-family: "museo",serif;;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.33;
  color: #2b2767;
}
.blurb-hold h4  {
  font-family: "museo",serif;
  font-weight: 100;
  font-size: 1.4em;
  line-height: 1.45;
  color: #2b2767;
}
.blurb-hold h4.subheader{
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.39;
  color: rgba(0, 0, 0, 0.87);
}
.blurb-hold h5{
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.0em;
  text-align: left;
  color: #a92e89;
}
.blurb-hold h6 {
  font-family: "museo-sans",sans-serif;
  font-size: 1.0em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.87);
}
.blurb-hold .blurb p, 
.eventblocks .details p, 
.buttonblocks .details p,
.contentblocks .details p
{
  font-family: "museo-sans",sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
}

/* Event Block Section */
.eventblocks{
  margin-bottom: 20px;
}
.eventblocks h5 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.0em;
  color: #2b2767;
}
.eventblocks .block{
  margin-bottom: 8px;
}
.eventblocks .date {
  background: rgba(136, 175, 193, 0.1);
  box-shadow: 0 -1px 0 0 rgba(136, 175, 193, 0.6), 0 1px 0 0 rgba(136, 175, 193, 0.6);
  text-align: center;
  min-height: 100px;
  padding: 30% 0 0 0;
}
.eventblocks .date div{
  font-family: "museo",serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #2b2767;
}
.eventblocks .extra-hold {
  display: flex;
  justify-content: left;
  align-items: center;
}
.eventblocks .extra {
  font-family: "museo-sans",sans-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 1.63;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}
.eventblocks .extra span{
  display: block;
}

/* Color Buttons */
.button-hold{
  max-width: 70%
}

/* PDF Section */
a.pdflink{
  font-family: "museo-sans",sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: rgb(136, 175, 193);
}
a.pdflink:hover{
  color: rgb(169, 46, 137);
}










/* Form & Inputs */
.contact-form{
  position: relative;
  font-size: 0.8em;
}
.contact-form .gfield_label{
  color: rgba(0, 0, 0, 0.86);
}
.contact-form .gform_footer {
    width: auto;
}
.contact-form .gform_button.button{
  float:right;
}


/*-------------------------------------- Where Mika Ended ---------------------------------------*/








/* Three Column List */
.threelist .col{
  padding: 20px 20px 20px 0px;
}


/* Resource Button & Description */
.resource div{ 
  display: flex;
  align-items: center;
}

.resource div p{ 

  line-height: 1.63;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'museo', sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
}







/* Childrens Programs */
.dates span {
	    display: inline-block;
    padding: 7px 22px 12px 0px;
}
.time span {
	    display: inline-block;
    padding: 7px 22px 12px 0px;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.agerange {
	position: absolute;
	top:0px;
	right :0px;
}
.wd {
	text-align: center;
	padding: 44px 15px;
	background-color: #eee;
}
.regbtn {
	text-transform: uppercase;
	background: #88afc1;
}
a.regbtn  {
	color: white;
	padding: 5px 32px;
	font-family: NotoSans;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.5px;
	text-align: center;	
}
#todaysmsg p {
	position: absolute;
    top: 100px;
    left: 59px;
    right: 43px;
}
#todaysmsg .hidden {
	display: none;
}
#todaysmsg .active {
	display: block;
	}
/*childrens program end*/
/*childrens page styles*/
#genesis-content > h1 {
display: none;
}
.grnups {
	top: 44%;
	left: 28%;
	color: white;
	font-size: 26px;
}
img.margblock {
	margin: 0 auto; 
	display: block;
}
.prgms {
	top: 20%;
	left: 28%;
	font-size: 26px;	
}
.rug {
	margin-top: 60%;
}
.twokids {
	top:33%;
	left:22%;
	width:58%;
}
.tabletboy {
	top: 25%;
	left: 55%;
	width: 25%;
}
.girlone {
	top:50%;
	left:2%;
	width:25%;
}
.kidstablet {
	top: 45%;
	left: 38%;
	width:22%;
	z-index: 999;
	transform: rotate(-11deg);
}
.games {
	max-width: 100%;
	margin: 0 auto;
	padding: 11px 0px;
}
.thoubooks {
	padding: 11px 0px;	
	max-width: 100%;
	margin: 0 auto;
}
.teddyshelf  {
	padding: 11px 0px;
	max-width: 100%;
	margin: 0 auto;
}
.greatread  {
	padding: 11px 0px;
	max-width: 100%;
	margin: 0 auto;
}
.toys  {
	padding: 5px 0px;
	max-width: 65%;
	margin: 0 auto;
	margin-top: 3px;
}
.teddy {
	max-width:26%;
	top: 0;
	right:12%;
}
.todaymsg {
	top:30%;
	left:11%;
	max-width:85%;
}
.easle {
	max-width: 100%;
    margin: 0 auto;
    display: block;
}


/*childrens page styles*/
/*people card*/
.peoplecard span {
	display:block;
}

/*people card end*/
/*image gallery*/
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}
/*image gallery end*/

/*carousel*/
#carouselHome h3 {
	text-align: left;
	font-size: 33px;
}
#carouselHome p {
	text-align: left;
	display: block;
	width: 100%;
	/*background:; this has been like this since the repo was created, not sure what was supposed to be here   */
}
#carouselHome .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 53px;
    left: 3%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
#carouselHome .alert {
	position: absolute;
    z-index: 8;
    bottom: 0px;
    background: #ff000080;
    color: white;
    left: 0px;
    right: 0pc;
}

/* MCcoder */

/*makes the carousel responsive*/
.carousel-item .img-fluid {
  width:100%;
  height:100%;
}






.wcag {
    top: 44px;
    position: fixed;
    right: 15px;
    z-index: 99999999;
}

/*nice colorful buttons in the theme options panel*/
/*body .wgdebtn {
	color: white;
	padding: 7px;
	width: 100%;
	display:block;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
}*/
#overlapblackbg {
    left: 0;
    z-index: 999999999;
}
.wsoffcanvasopener .wsmenu {
    z-index: 999999999;
}
#wsnavtoggle {
    z-index: 9999999999;
    position: fixed;
    background: white;
}
.sublogo {
	display:block; 
	margin: 0 auto;
	padding-top:63px;
}
span.subtag {
	font-size:22px;
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #2b2767;
	font-weight: 700;
	padding-bottom: 22px;
	padding-top: 12px;

}

.mediumlogo {
	display: none;
}
/*slide menu*/
.contmenu {
    transform: scale(0.65);
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.contmenu {
    display: none;
    cursor: pointer;
    position:fixed;
    z-index: 9999999999;
}
/*silde menu*/
@media (max-width: 1600px) {
	.homelink {
		display: none;
	}
}
@media (max-width: 1453px) {
	.mediumlogo {
    display: inline-block;
    float: left;
    padding-top: 4px;
    max-width: 65px;
	}
	#stickem {
	    background: white;
	    z-index: 99999999;
	    position: fixed;
	    width: 100%;
	    margin-left: -1%;
	}
	h1.tk-museo {
	    font-size: 4rem;
	}
	.logogroup {
    margin-left: 249px;
}
}
@media (max-width: 1320px) {

	.logogroup {
    display: block;
    margin: 0 auto;
    width: 70%;
	}
	#stickem {
	    margin-left: -10%;
	}	

}


@media (max-width: 1090px) { 

	.contmenu {
    display: inline-block;
    }	
	#left-sticky {
		z-index: 99999999;
		background: white;
		overflow: scroll;
	}
	#menu-test {
		display:block;
	}
	.slidemenu {
		position: fixed;
		top:0px;
		left: -240px;
    	-moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;		
	}
	.open {
		left: 0px;!important
    	-moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;				
	}

	
	#genesis-content {
	    padding-top: 50px;
	}	
	.mediumlogo {
	    display: inline-block;
	    float: left;
	    max-width: 42px;
	    padding-top: 5px;
	    margin-right: 12px;
	}
		body .tk-museo {
	    font-family: "museo",serif;
	    font-size: 3rem;
	    color: #2b2767;
	    font-weight: 700;
	    padding: 0.3em 1px;
	    text-align: left;
		}	
		.content-sidebar-wrap {
	    padding-top: 20px;
	}
	.main-menu {
		display: none;
	}	
}

@media (max-width: 860px) { 

}
@media (max-width: 844px) {

}
@media (max-width: 633px) { 
	#genesis-content {
	    padding-top: 176px;
	}	

}


/*library board page*/
#boardavatar .col-sm-4 {
    background: #eee;
    padding: 0px 0px 0px 0px;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

/* mobile widget for hours & language */
#hours_language_mobile {
    display: none;
	font-family: "Museo", Serif;
	width: auto;
	height: auto;
	opacity: 0.60;
    color: #333;
	background-color: rgba(136, 175, 193, 0.2);
	box-shadow: 0 -1px 0 0 #88afc1, 0 1px 0 0 #88afc1;
}
.library-hours{
    font-family: "Museo", Serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.45;
    text-align: left;
    color: #2b2767;
}
.library-hours-arrows{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.library-hours-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.library-hours-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.library-hours-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.library-hours-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/* only show on mobile */
@media screen and (max-width: 640px){
    #hours_language_mobile {
        display: block;
    }
}