
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=410d0149d48177dac6b5ff415d5540d0
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress